<!DOCTYPE html>
<html lang="en">
    <head>
        <meta class="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Articles | Template</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../sprout2.svg">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/forms.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/modal.css">
      <!-- for IE -->
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- -->
        <script src="../js/modal.js" defer></script>
    </head>
    <body>

        <!-- navbar -->
        <header>
            <nav class="topnav">
                <input class="topnav-input" id="nav" type="checkbox">
                <div class="topnav-top">
                    <hr class="topnav-above">
                    <a href="/profile">Profile</a>
                    <hr>
                    <a href="/login">Login</a>
                    <hr class="topnav-below">
                </div>
                <div class="topnav-bottom">
                    <a href="/" class="logo">Sprout</a>
                    <label class="topnav-showMore" for="nav"><img src="../mobile-menu.svg" class="media-svg-menu"></label>
                    <a href="/profile" class="topnav-float trans-underline">Profile</a>
                    <a href="/login" class="topnav-float trans-underline">Login</a>
                </div>
            </nav>
        </header> 

        <!-- Hero unit -->
        <div class="width height half">
            <div class="main-overlay main-overlay-solid half opacity"></div>
            <div class="container height">
                <div class="main-content height">
                    <div class="main-content-text">
                        <h1 class="text-light">Article page</h1>
                        <p class="text-light">Use this page to post articles from your favorite authors; or feel free to write your own. As a matter of fact, do whatever you like to this page, this is a template after all.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <main class="container sidebar-top row">

            <aside class="sidebar sticky col-20" id="sidebar">
                <div id="link-container">
                  <!--<a href="#first" class="article"><span class="btn-slide">Article</span></a>-->
                </div>
                <a class="btn-add"><span class="btn-slide" id="addBtn">Add</span></a>
            </aside>

            <section class="col-80 sidebar-content" id="sidebar-content">
                <!--<article id="first">
                    <h2>Article 1</h2>
                    <p class="date">8/4/19 at 5:30PM<a class="float-right">remove</a><a class="float-right">edit</a></p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, blanditiis expedita? Earum eligendi pariatur quaerat quos expedita ab quibusdam ratione veniam in, mollitia fuga repudiandae?</p>
                </article>-->
            </section>
          
        </main>

        <!-- Main Modal -->
        <div id="create-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Add an Article</h2>
                </div>
                <div class="modal-body">
                    <form id="create-article">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" placeholder="Article" required maxlength="150" minlength="1">
                        <label for="message">Text</label>
                        <textarea type="text" name="message" id="message" placeholder="Your text goes here.." required minlength="1"></textarea>
                        <div class="text-center">
                            <button type="submit" class="button button-accent btn-shine">Add Article</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Remove Modal -->
        <div id="remove-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Are you sure?</h2>
                </div>
                <div class="modal-body">
                    <button type="submit" class="button button-accent btn-shine" id="remove-btn">Remove Article</button>
                </div>
            </div>
        </div>

        <!-- Edit Modal -->
        <div id="edit-modal" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Edit this Article</h2>
                </div>
                <div class="modal-body">
                    <form id="edit-article">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title-edit" placeholder="Article" required maxlength="150" minlength="1">
                        <label for="message">Text</label>
                        <textarea type="text" name="message" id="message-edit" placeholder="Your text goes here.." required minlength="1"></textarea>
                        <div class="text-center">
                            <button type="submit" class="button button-accent btn-shine" id="edit-btn">Edit Article</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>