<!DOCTYPE html>
<html lang="en">
    <head>
        <meta class="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Contact | Template</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../sprout2.svg">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/forms.css">
        <link rel="stylesheet" href="../css/sidebar.css">
    </head>
    <body>
      
        <!-- navbar -->
        <header>
            <nav class="topnav">
                <input class="topnav-input" id="nav" type="checkbox">
                <div class="topnav-top">
                    <hr class="topnav-above">
                    <a href="/profile">Profile</a>
                    <hr>
                    <a href="/articles">Articles</a>
                    <hr>
                    <a href="/login">Login</a>
                    <hr class="topnav-below">
                </div>
                <div class="topnav-bottom">
                    <a href="/" class="logo">Sprout</a>
                    <label class="topnav-showMore" for="nav"><img src="../mobile-menu.svg" class="media-svg-menu"></label>
                    <a href="/profile" class="topnav-float trans-underline">Profile</a>
                    <a href="/articles" class="topnav-float trans-underline">Articles</a>
                    <a href="/login" class="topnav-float trans-underline">Login</a>
                </div>
            </nav>
        </header> 

        <div class="contact-sidebar">
            <a href="https://github.com/" target="_blank" class="github">Github</a>
            <a href="https://facebook.com/" target="_blank" class="facebook">Facebook</a>
            <a href="https://twitter.com/" target="_blank" class="twitter">Twitter</a>
            <a href="https://instagram.com/" target="_blank" class="instagram">Instagram</a>
        </div>

        <!-- Page content -->
        <div class="top-bottom">
            <div class="container">

                <h2>Contact Us</h2>

                <div class="contact-form">
                    <form action="/contact" method="post">
                        <div class="row">
                            <div class="col-25">
                                <label for="fname">First Name</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="fname" name="first" placeholder="Your first name..">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="lname">Last Name</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="lname" name="last" placeholder="Your last name..">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-75">
                                <input type="email" name="email" id="email" placeholder="johnsmith@mail.com" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="subject">Subject</label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="subject" name="subject" placeholder="Subject..">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="subject">Message</label>
                            </div>
                            <div class="col-75">
                                <textarea id="message" name="message" placeholder="Write something.." style="height:200px"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" value="Submit" class="button button-accent">
                        </div>
                    </form>
                </div>

            </div>
        </div>
      
    </body>
</html>