<!DOCTYPE html>
<html lang="en">
    <head>
        <meta class="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Create | Template</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../sprout2.svg">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/forms.css">
    </head>
    <body>

        <!-- navbar -->
        <header>
            <nav class="topnav">
                <input class="topnav-input" id="nav" type="checkbox">
                <div class="topnav-top">
                    <hr class="topnav-above">
                    <a href="/profile">Profile</a>
                    <hr>
                    <a href="/articles">Articles</a>
                    <hr>
                    <a href="/login">Login</a>
                    <hr class="topnav-below">
                </div>
                <div class="topnav-bottom">
                    <a href="/" class="logo">Sprout</a>
                    <label class="topnav-showMore" for="nav"><img src="../mobile-menu.svg" class="media-svg-menu"></label>
                    <a href="/profile" class="topnav-float trans-underline">Profile</a>
                    <a href="/articles" class="topnav-float trans-underline">Articles</a>
                    <a href="/login" class="topnav-float trans-underline">Login</a>
                </div>
            </nav>
        </header>  

        <!-- Authentication pages -->
        <main class="top-bottom" id="create">
            <div class="container">
                <div class="row">
                    <div class="col-2 top-lg text-center">
                        <img src="../sprout2.svg" class="media-svg-lg">
                    </div>
                    <div class="col-2 top-md">
                        <h3 class="text-center">Create your account</h3>
                        <p class="text-center bottom-sm">Fill out the following to proceed</p>
                        <form method="post" action="/create" autocompelete="new-password" role="presentation" class="create">
                            <label for="first">First</label>
                            <input type="text" name="first" id="first" placeholder="John" required pattern="[A-z]+">
                            <div class="input-reqs text-center">Please type in your first name.</div>
                          
                            <label for="last">Last</label>
                            <input type="text" name="last" id="last" placeholder="Smith" required pattern="[A-z]+">
                            <div class="input-reqs text-center">Please type in your last name.</div>
                          
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="johnsmith@mail.com" required>
                            <div class="input-reqs text-center">Must be a valid email address.</div>
                          
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}">
                            <div class="input-reqs text-center">Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.</div>
                            <div class="text-center">
                                <button type="submit" class="button button-accent btn-shine">Create Account</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
      
    </body>
</html>