- var title = 'Error';
- var description = '404 error page.';
include pug/head.pug
+link('../css/main.css')
header
include pug/topnav.pug
// Page content
.top-bottom.text-center
    h1 404 Error
    p Page not found.
