<!DOCTYPE html>
<html lang="en">
    <head>
        <meta class="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Login | Template</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../sprout2.svg">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/forms.css">
        <link rel="stylesheet" href="../css/switch.css">
        <script src="../js/popup.js" defer></script>
    </head>
    <body>

        <!-- navbar -->
        <header>
            <nav class="topnav">
                <input class="topnav-input" id="nav" type="checkbox">
                <div class="topnav-top">
                    <hr class="topnav-above">
                    <a href="/profile">Profile</a>
                    <hr>
                    <a href="/articles">Articles</a>
                    <hr class="topnav-below">
                </div>
                <div class="topnav-bottom">
                    <a href="/" class="logo">Sprout</a>
                    <label class="topnav-showMore" for="nav"><img src="../mobile-menu.svg" class="media-svg-menu"></label>
                    <a href="/profile" class="topnav-float trans-underline">Profile</a>
                    <a href="/articles" class="topnav-float trans-underline">Articles</a>
                </div>
            </nav>
        </header>  

        <!-- Authentication pages -->
        <main class="top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-2 top-lg text-center">
                        <img src="../sprout3.svg" class="media-svg-lg">
                    </div>
                    <div class="col-2 top-md">
                        <h3 class="text-center">Sign in to your account</h3>
                        <p class="text-center bottom-sm">Fill out the following to proceed</p>
                        <form method="post" action="/login/local" autocompelete="new-password" role="presentation" class="login">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="johnsmith@mail.com" required>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" autocomplete="off" required>
                            <div class="text-center bottom-sm">
                                <button type="submit" class="button button-accent btn-shine">Log in</button>
                            </div>
                            <label for="checkbox">Remember me?</label>
                            <label class="switch popup">
                                <input type="checkbox" id="checkbox">
                                <span class="slider round" id="popupSwitch"></span>
                                <span class="popuptext" id="myPopup">We use cookies. More info <a href="/info" target="_blank">here</a>.</span>
                            </label>
                        </form>
                        <a href="/forgot" class="pad-left">Forgot password?</a><br>
                        <a href="/create" class="pad-left">Create account?</a>
                    </div>
                </div>
            </div>
        </main>
      
    </body>
</html>