<!DOCTYPE html>
<html lang="en">
    <head>
        <meta class="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Dashboard | Template</title>
        <link href="https://fonts.googleapis.com/css?family=Quattrocento&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="../sprout2.svg">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>
      
        <!-- navbar -->
        <header>
            <nav class="topnav">
                <input class="topnav-input" id="nav" type="checkbox">
                <div class="topnav-top">
                    <hr class="topnav-above">
                    <a href="/profile">Profile</a>
                    <hr>
                    <a href="/articles">Articles</a>
                    <hr>
                    <a href="/login">Login</a>
                    <hr class="topnav-below">
                </div>
                <div class="topnav-bottom">
                    <a href="/" class="logo">Sprout</a>
                    <label class="topnav-showMore" for="nav"><img src="../mobile-menu.svg" class="media-svg-menu"></label>
                    <a href="/profile" class="topnav-float trans-underline">Profile</a>
                    <a href="/articles" class="topnav-float trans-underline">Articles</a>
                    <a href="/login" class="topnav-float trans-underline">Login</a>
                </div>
            </nav>
        </header> 

        <!-- Page content -->
        <div class="top-bottom text-center">
            <h1>Thank You</h1>
            <p>We have received your email and will get back to you shortly.</p>
        </div>
      
    </body>
</html>