- var title = 'Thank You';
- var description = 'Thank you page.';
include pug/head.pug
+link('../css/main.css')
header
include pug/topnav.pug
// Page content
.top-bottom.text-center
  h1 Thank You
  p We have received your email and will get back to you shortly.
