/* Variables */
:root {
    --gradient-color: linear-gradient(90deg, rgba(136,171,117,1) 0%, rgba(85,139,110,1) 54%);
    --solid-color: rgba(85,139,110,1);
    --button-color: #edcb76;
    --font-family: 'Quattrocento', serif;
    --bg-image: url("https://images.pexels.com/photos/36767/tree-natur-nightsky-cloud.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    --check-valid: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAgMTAwIj48Y2lyY2xlIGN4PSI1MCIgY3k9IjUwIiByPSI0OSIgc3Ryb2tlPSIjNDFkODczIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9IiM0MWQ4NzMiIC8+PHBvbHlsaW5lIHBvaW50cz0iODAsMzAgNDAsNzAgMjAsNTAiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMTAiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
    --check-invalid: url(data:image/svg+xml;base64,PHN2ZyBpZD0iY2hlY2stbWFyayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTAwIDEwMCI+PGNpcmNsZSBjeD0iNTAiIGN5PSI1MCIgcj0iNDkiIHN0cm9rZT0iI2ZmM2UzMCIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSIjZmYzZTMwIiAvPjxsaW5lIHgxPSI3MCIgeTE9IjMwIiB4Mj0iMzAiIHkyPSI3MCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxMCIgZmlsbD0ibm9uZSIvPjxsaW5lIHgxPSIzMCIgeTE9IjMwIiB4Mj0iNzAiIHkyPSI3MCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxMCIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
}

/* Components */
html {
    scroll-behavior: smooth;
    font-family: 'Quattrocento', serif;
    font-family: var(--font-family);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;}

html, body {
    margin: 0;
    height: 100%;
    color: #404040;
    background: white;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #ffffff;}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;}
figure {
    margin: 0;}
p,
ol,
ul,
dl,
table {
    margin: 0 0 1rem 0;}
ul li ul {
    margin-bottom: 0;}
ol li ol {
    margin-bottom: 0;}
h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1rem 0;
    font-weight: 600;
    line-height: 1.2;
    color: #404040;}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
    margin: 1.5rem 0;}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
    margin-top: 2rem;}
h1 {
    font-size: 1.75rem;}
h2 {
    font-size: 1.5rem;}
h3 {
    font-size: 1.25rem;}
h4 {
    font-size: 1.1rem;}
h5 {
    font-size: 1rem;}

@media (min-width: 600px) {
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child) {
        margin-top: 2.5rem;}
    h1 {
        font-size: 2.25rem;}
    h2 {
        font-size: 2rem;}
    h3 {
        font-size: 1.75rem;}
    h4 {
        font-size: 1.5rem;}
    h5 {
        font-size: 1.25rem;}}
a {
    transition: all .3s;
    color: #777;
    text-decoration: none;}
.topnav a,
.footer a {
    color: white;}
a:hover, a:active, a:focus {
    color: #2AA5F1;}
hr {
    height: 0;
    border: 0;
    border-top: 1px solid #dedede;}

/* Misc. */
.width {
    width: 100%;}
.height {
    height: 100%;}
.container {
    width: 84%;
    margin: auto;}
.text-center {
    text-align: center;}
.text-dark {
    color: #333;}
.text-light {
    color: #fff;}
.text-under {
    text-decoration: underline;}
.template {
    color: #999;}
.text-sm {
    font-size: 14px;}
.text-padding {
    padding: 12px 12px 12px 0;}
.padding {
    box-sizing: border-box;
    padding: 1rem;}
.top-sm {
    padding-top: 1rem;}
.top-md {
    padding-top: 10vh;}
.top-lg {
    padding-top: 15vh;}
.bottom-sm {
    padding-bottom: 1rem;}
.top-bottom {
    padding: 4rem 0;}
.pad-left {
    padding-left: 1rem;}
.hide {
    display: none;}
.show {
    display: block;}
.float-right {
    float: right;}

/* Top Navigation */
.topnav {
    position: fixed;
    z-index: 100;
    width: 100%;}
.topnav-bottom {
    transition: all 1s;
    background: rgba(85,139,110,1);
    background: var(--solid-color);
    padding: 20px 8vw;}
.topnav-bottom a, 
.topnav-top a, 
.topnav-bottom label {
    color: white;
    font-size: 20px;
    text-decoration: none;}
.topnav-top a {
    color: white;}
.topnav-top {
    background: #2F2C48;
    padding: 0 8vw;
    text-align: center;}
.topnav-showMore {
    font-size: 14px;
    display: block;
    cursor: pointer;
    float: right;}
.topnav-input {
    display:none;}
.topnav-input + .topnav-top {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;}
.topnav-input:checked + .topnav-top { 
    max-height: 20rem;
    overflow: hidden;
    transition: max-height 0.5s;}
.topnav-top hr {
    margin: 15px 0;}
.topnav-above {
    margin-bottom: 15px;
    margin-top: 0;
    border: none;}
.topnav-below {
    margin-top: 15px;
    margin-bottom: 0;
    border: none;}
.topnav-top a, 
.topnav-bottom a {
    font-size: 14px;}
.topnav-bottom .logo {
    font-size: 18px;}
.topnav-bottom label svg {
    height: 20px;
    width: 20px;}
.topnav-bottom label {
    float: right;
    display: none;}
.topnav-float {
    float: right;
    margin: 0 20px;
    display: block;}

/* Main */
.main {
    background-image: url("https://images.pexels.com/photos/36767/tree-natur-nightsky-cloud.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-image: var(--bg-image);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
.main-overlay {
    z-index: 2;
    position: absolute;
    opacity: .8;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba(85,139,110,1);
    background: var(--solid-color);
    background: var(--gradient-color);}
.main-overlay-solid {
    background: rgba(85,139,110,1);
    background: var(--solid-color);}
.main-content {
    display: flex;
    align-items: center;
    justify-content: center;}
.main-content-text {
    text-align: center;
    max-width: 600px;
    z-index:3;}
.main-text {
    margin-bottom: 3rem;}
.main-sub {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);}
.main-sub-svg {
    height: 1rem;
    width: 1rem;}
.half {
    height: 50%;}
.opacity {
    opacity: 1;}

.col-2 {
    float: left;
    width: 50%;}
.col-3 {
    float: left;
    width: 33.33%;}
.col-4 {
    float: left;
    width: 25%;}
.col-5 {
    float: left;
    width: 20%;}
.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;}
.col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;}
.row::after {
    content: "";
    display: table;
    clear: both;}
.flex {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;}
.flex-half {
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;}
.flex-rev {
    flex-direction: row-reverse;}

.media {
    width: 100%;}
.media-svg-sm {
    max-width: 20%;}
.media-svg-md {
    max-width: 35%;}
.media-svg-lg {
    max-width: 50%;}
.media-svg-logo {
    max-width: 25%;}
.media-svg-menu {
    width: 20px;
    height: 20px;}
.media-text {
    box-sizing: border-box;
    line-height: 1.5;
    padding: .5rem 1rem;}
.media-perc {
    width: 80%;}

.section-color {
    background: #ddd;}
.special {
    color: white;
    background: rgba(85,139,110,1);
    background: var(--solid-color);}

/* footer */
.footer {
    background: #2F2C48;}
.footer-link {
    transition: all .3s;
    border-bottom: 1px dotted white;}
.footer-link:hover {
    border-bottom: 1px dotted #2AA5F1;}
.footer-space {
    padding-left: 3rem;
    margin: .5rem;}

/* Buttons */
.button {
    display: inline-block;
    font-family: 'Quattrocento', serif;
    font-family: var(--font-family);
    box-sizing : border-box;
    border: 1px solid #ddd;
    padding: .7rem 1.5rem;
    color: #eee;
    transition: all .3s;}
.button:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;}
.button-accent {
    color: #555;
    background: #edcb76;
    background: var(--button-color);
    border: 1px solid var(--button-color);}
.button-accent:hover {
    background: #f2d980;
    border: 1px solid #f2d980;
    color: #666;}
.btn-fix {
    width: 150px;}
.btn-add::before {
    content: "\ff0b    ";}

/* button shine */
.btn-shine, .btn-slide {
    position: relative;
    overflow: hidden;}
.btn-shine::after {
    background: #38ef7d;
    content: '';
    height: 60px;
    left: -40px;
    opacity: 0.4;
    position: absolute;
    top: -10px;
    transform: rotate(25deg);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    width: 25px;
    z-index: 10;}
.btn-shine:hover::after {
    left: 110%;
	  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);}

/* Underlined links */
.btn-slide::after {
    position: absolute;
    right: 0;
    left: auto;
    transition: 0.3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 1px;
    background: #2AA5F1;}
.btn-slide:hover {
	  cursor: pointer;}
.btn-slide:hover::after {
    width: 100%;
    left: 0;}

.trans-underline {
    color: white;
    opacity: 0.8;
    transition: all .3s;
    position: relative;}
.trans-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;}
.trans-underline:hover {
    color: white;
    opacity: 1;
    cursor: pointer;}
.trans-underline::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;}
.trans-underline::before {
    border-bottom: 1px solid white;
    transform: scale3d(0, 1, 1);}
.trans-underline:hover::before {
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s;}

@media only screen and (max-width: 600px) {
    .media-svg-logo {
        max-width: 50%;}
    .media-svg-sm {
        max-width: 25%;}
    .media-svg-md {
        margin-bottom: 2rem;
        max-width: 50%;}
    .media-svg-lg {
        margin-bottom: 1rem;
        max-width: 70%;}
    .media {
        max-height: 50vh;
        width: 100%;}
    .footer-space {
        padding-left: .5rem;
        margin: 1rem;}
    #create .bottom-sm {
        padding-bottom: 3rem;}
    .col-4 {
        width: 50%;}
    .col-2,.col-3,.col-5,.col-20,.col-80 {
        width: 100%;}
    .flex {
        height: auto;}
    .flex-half {
        -webkit-flex: 100%; /* Safari 6.1+ */
        -ms-flex: 100%; /* IE 10 */ 
        flex: 100%;}
    .flex-rev {
        flex-direction: row;}
    .topnav-float { 
        display: none; }
    .topnav-bottom label { 
        display: block; }
    .topnav-bottom { 
        padding: 20px 8vw; }}