mixin link(href)
    link(rel='stylesheet' href=href)
mixin script(src)
    script(src=src defer='')

doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    title #{title}
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='description' content=description)
    meta(name='keywords' content='Sprout,template')
    // other metadata
    link(href='https://fonts.googleapis.com/css?family=Quattrocento&display=swap' rel='stylesheet')
    link(rel='shortcut icon' href='../sprout2.svg')
